language: python
sudo: false

env:
  - CONSUL_VERSION=0.7.5

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35

before_install:
  - "wget https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip"
  - "unzip -d /tmp/consul consul_${CONSUL_VERSION}_linux_amd64.zip "
  - "export PATH=$PATH:/tmp/consul"
install:
  - "pip install -U pip setuptools"
  - "pip install tox"
script:
  - "tox -- -rs"
  - "tox -e cover"
